{% extends "layout.html" %}
{% block content %}


<div class="text-center">
	<h3>Welcome, {{ nickname }} !<h3>
</div>
	


<div class="panel panel-primary panel-transparent" style="outline:none!important;">
	  <div class="panel-heading text-center">
	    <h3 class="panel-title">this is your group: {{ groupname }}</h3>
	  </div>

	  <div class="panel-body">

	  		<form class="edit" action="{{ url_for('groupinfo',groupname = groupname) }}" method=post>
		                	{{ form.hidden_tag() }}
		                	<p class = "reminder1">select the days</p>
							{{ form.select(class = "dropdownbox1") }}

							{{ form.submit(class="btn btn-success btn-sm", value="submit") }}
		    </form>

		    {% if groupTotalInfo == [] and groupPartalInfo == []%}
		    <div class = reminder>please select time frame to see comparision</div>

			{% elif groupTotalInfo == [] %}
			  <table class="table table-bordered" style="text-align: center;margin-top:20px;3">
			    <thead>
			      <tr>
			      	<th style="text-align: center;">rank</th>
			        <th style="text-align: center;">name</th>
			        <th style="text-align: center;">begin weight</th> 
			        <th style="text-align: center;">last updated weight</th>
			        <th style="text-align: center;">loss weight</th>
			        <th style="text-align: center;">loss percentage</th>
			      </tr>
			    </thead>
			    {% for ele in groupPartalInfo %}
			    	{% if ele[6] == "self" %}
				    <tbody style="color:red">
				    {% else %}
				    <tbody>
				    {% endif %}
				      <tr>
				        <td>{{ ele[0] }}</td>
				        <td>{{ ele[1] }}</td>
				        <td>{{ ele[2] }}</td>
				        <td>{{ ele[3] }}</td>
				        <td>{{ ele[4] }}</td>
				        <td>{{ ele[5] }}%</td>
				      </tr>
				    </tbody>
				 {% endfor %}
			  </table>
			 {% else %}
				 <table class="table table-bordered" style="text-align: center;margin-top:20px;3">
				    <thead>
				      <tr>
				      	<th style="text-align: center;">name</th>
				        <th style="text-align: center;">begin date</th>
				        <th style="text-align: center;">begin weight</th> 
				        <th style="text-align: center;">last updated date</th>
				        <th style="text-align: center;">last updated weight</th>
				        <th style="text-align: center;">loss percentage</th>
				        <th style="text-align: center;">target weight</th>
				      </tr>
				    </thead>
				    {% for ele in groupTotalInfo %}
					    <tbody>
					      <tr>
					        <td>{{ ele[0] }}</td>
					        <td>{{ ele[1] }}</td>
					        <td>{{ ele[2] }}</td>
					        <td>{{ ele[3] }}</td>
					        <td>{{ ele[4] }}</td>
					        <td>{{ ele[5] }}%</td>
					        <td>{{ ele[6] }}</td>
					      </tr>
					    </tbody>
					 {% endfor %}
				  </table>
				 {% endif %}




{% if number != [""] %}
	<img class = "img" src = "{{ url_for('static', filename = 'weightgram/groups/' + groupname + '/w' + number + '.png') }}">
{% endif %}


</div>













{% endblock %}