{% extends "layout.html" %}
{% block content %}


<div class="text-center">
	<h3>Welcome, {{ nickname }} !<h3>
</div>
	


<div class="panel panel-primary panel-transparent" style="outline:none!important;">
	  <div class="panel-heading text-center">
	    <h3 class="panel-title">this is your group: {{ groupname }}</h3>
	  </div>

	  <div class="panel-body">




		
			  <table class="table">
			    <thead>
			      <tr>
			        <th>name</th>
			        <th>begin date</th>
			        <th>begin weight</th>
			        <th>last updated date</th>
			        <th>last updated weight</th>
			        <th>loss percentage</th>
			        <th>target weight</th>
			      </tr>
			    </thead>
			    {% for ele in groupWeightInfo %}
				    <tbody>
				      <tr class="info">
				        <td>{{ ele[0] }}</td>
				        <td>{{ ele[1] }}</td>
				        <td>{{ ele[2] }}</td>
				        <td>{{ ele[3] }}</td>
				        <td>{{ ele[4] }}</td>
				        <td>{{ ele[5] }}</td>
				        <td>{{ ele[6] }}</td>
				      </tr>
				    </tbody>
				 {% endfor %}
			  </table>






{% if number != "" %}
<img src = "{{ url_for('static', filename = 'weightgram/' + nickname + '/w' + number + '.png') }}">    
<img src = "{{ url_for('static', filename = 'weightgram/' + nickname + '/m' + number + '.png') }}">
{% endif %}
</div>













{% endblock %}