{% extends "layout.html" %}
{% block content %}


<div class="text-center">
	<h3>Welcome, {{ nickname }} !<h3>
</div>
	



 <div class="panel panel-primary panel-transparent" style="outline:none!important;">

		  <div class="panel-heading text-center">
		    <h3 class="panel-title">record your weight today（记录今日体重）</h3>
		  </div>

		  <div class="panel-body">
		  		<form class="edit" action="{{ url_for('profile') }}" method=post>
		                	{{ form1.hidden_tag() }}

							{{ form1.todaysweight(class="table1",placeholder="enter weight for today（输入今日体重）") }}

								{% for message in form1.todaysweight.errors %}
								    <div class="flash">{{ message }}</div>
								{% endfor %}

							{{ form1.submit(class="btn btn-success btn-sm", value="submit") }}
		                </form>
          </div>

</div>


 <div class="panel panel-primary panel-transparent" style="outline:none!important;">

		  <div class="panel-heading text-center">
		    <h3 class="panel-title">see your progress（你的进展）</h3>
		  </div>

		  <div class="panel-body">
		  {% if newuser == False %}
		  		<form class="edit" action="{{ url_for('profile') }}" method=post>
		                	{{ form2.hidden_tag() }}
		                	
							{{ form2.days(class = "dropdownbox1") }}

							{{ form2.submit(class="btn btn-success btn-sm", value="submit") }}
		        </form>

          		{% if number != [""] %}
					<img class = "img" src = "{{ url_for('static', filename = 'weightgram/users/' + nickname + '/w' + number + '.png') }}">
					{% if message|length > 40 %}
					<p class="reminder" style="font-size:22px;">{{ message }}</p> 
					{% else %}
					<p class="reminder1" style="font-size:22px;">{{ message }}</p>   
					{% endif %}
				{% elif warn != "" %}
					<p class="reminder" style="font-size:22px;">{{ warn }}</p> 
		  		{% endif %}

		  {% else %}
		 	 <div class="reminder"> you need to record your weight at least twice to see your progress（你需要记录至少2天体重才能查询进展）</div>
		  {% endif %}
		  </div>
</div>

	



 <div class="panel panel-primary panel-transparent" style="outline:none!important;">

		  <div class="panel-heading text-center">
		    <h3 class="panel-title">edit your information（修改个人信息）</h3>
		  </div>

		  <div class="panel-body">
		  		<form class="edit" action="{{ url_for('profile') }}" method=post>
		                	{{ form.hidden_tag() }}

							{{ form.nickname(class="table1",placeholder="change nickname（修改昵称）") }}

							{{ form.target(class="table1",placeholder="change target weight（修改目标体重）") }}

							{% if timezoneRecorded == False %}
							<div class = "reminder">click to setup your timezone below（点击下方设置时区）</div>
							{{ form.timezone(class = "dropdownbox") }}
							{% else %}
							<div class = "reminder1">click to change your timezone below（点击下方修改时区）</div>
							{{ form.timezone(class = "dropdownbox1") }}
							{% endif %}

							{{ form.submit(class="btn btn-success btn-sm", value="edit") }}
		                </form>
          </div>

</div>


{% if groupnameList != [] %}
	<div class="panel panel-primary panel-transparent" style="outline:none!important;">

		  <div class="panel-heading text-center">
		    <h3 class="panel-title">Manage your groups</h3>
		  </div>

		  <div class="panel-body">
					{% for ele in groupnameList %}
							<form class="btn-group-vertical"  style="width:50%;margin:0 auto;display:block;">

			    			<a href="modify/{{ ele }}" class="btn btn-default text-center" > {{ ele }}</a>
			    			</form>
			    	{% endfor %}
	      </div>
	</div>         
{% endif %}	


{% if grouplist != [] and grouplist != None %}
	 <div class="panel panel-primary panel-transparent" style="outline:none!important;">

			  <div class="panel-heading text-center">
			    <h3 class="panel-title">view your groups（进入小组）</h3>
			  </div>

			  <div class="panel-body">
						{% for ele in grouplist %}
								<form class="btn-group-vertical"  style="width:50%;margin:0 auto;display:block;">
				    			<a href="groupinfo/{{ ele }}" class="btn btn-default text-center" > {{ ele }}</a>
				    			</form>
				    	{% endfor %}
	          </div>
	 </div>
 {% endif %}

<div style="margin-top:400px;"></div>

				<div style="color:pink;text-align: center;">Thanks for using Weight Overflow, If you have any question or suggestion, please contact me at hli43@hawk.iit.edu</div>

<div style="margin-top:40px;"></div>






{% endblock %}